<!DOCTYPE html>
<html>
  <head>
    <title>Examanager Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="position: absolute;">Examanager Analysis&trade;</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item">
                    <div class="align-items-center">
                        <a class="nav-link active" href="{{url_for('index')}}">Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="align-items-center">
                        <a class="nav-link" href="{{url_for('videos')}}">Videos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="align-items-center">
                        <a class="nav-link" href="{{url_for('reports')}}">Reports</a>
                    </div>
                </li>
            </ul>
        </div>
      </nav>
    <header>
        <div class="container">
            <div class="d-flex justify-content-center mt-1">
                <video id="video" width="500" height="500" autoplay style="background-color: grey"></video><br />
            </div>
            <div class="d-flex justify-content-center mt-1">
                <button class="btn btn-primary" id="recordButton" src="" onclick='recording()'>Start recording</button><br />
            </div>
        </div>
        <div class="d-flex justify-content-center mt-1">
            <canvas hidden id="canvas" width="320" height="240" style="background-color: grey"></canvas>
            <img id="image" src="" width="500" height="500" style="background-color: grey"></img>
            <img class="ml-1" id="image2" src="" width="500" height="500" style="background-color: grey"></img>
            <img class="ml-1" id="image3" src="" width="500" height="500" style="background-color: grey"></img>
            <img class="ml-1" id="image4" src="" width="500" height="500" style="background-color: grey"></img>
            <img hidden id="image64" src="" width="320" height="240" style="background-color: grey"></img>
        </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
<script>

var video = document.getElementById('video');


var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');                                                        

var image = document.getElementById('image');
var image2 = document.getElementById('image2');
var image3 = document.getElementById('image3');
var image4 = document.getElementById('image4');

var image64 = document.getElementById('image64');

var record= false;
var ended = false;


function recording(){
    this.record=!this.record;
    if(ended){
        this.ended=!this.ended;
    }
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        video.srcObject = stream;
            if(this.record){
                    document.getElementById("recordButton").innerText="Stop Recording";
                    video.play();
                    window.setInterval(function() {
                            context.drawImage(video, 0, 0, 320, 240); 
                            image64.src = canvas.toDataURL();  
                            canvas.toBlob(upload, "image/jpeg");
                        }, 1000);     
                }
                else{
                    document.getElementById("recordButton").innerText="Start Recording";
                    video.stop();
                    window.stop();
                }
        });
    }
}
function upload(file) {

    if(this.record){
        var formdata =  new FormData();
    
        formdata.append("snap", file);
        
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('upload') }}", true);
        xhr.responseType = 'json';   
        xhr.onload = function() {
            
            if(this.status = 200) {
            } else {
                console.error(xhr);
            }
            
            image.src ="data:image/jpg;base64,"+this.response['img'];
            image2.src ="data:image/jpg;base64,"+this.response['img2'];
            image3.src ="data:image/jpg;base64,"+this.response['img3'];
            image4.src ="data:image/jpg;base64,"+this.response['img4'];
        };
        
        xhr.send(formdata);
    }else if(!this.ended){
        var formdata =  new FormData();
    
        formdata.append("snap", "fin");
        
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('upload') }}", true);
        
        xhr.send(formdata);
        this.ended=true;

        window.location.reload();
    }
    
    
}

    
</script>
</html>