<!DOCTYPE html>
<html>
  <head>
    <title>Videos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/favicon.ico') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="position: absolute"
          >Examanager Analysis&trade;</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item">
            <div class="align-items-center">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="align-items-center">
              <a class="nav-link active" href="{{url_for('videos')}}">Videos</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="align-items-center">
              <a class="nav-link" href="{{url_for('reports')}}">Reports</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <header>
      <div class="container align-content-center">
        <div class="card mt-1 mx-auto" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Videos</h5>
            <p class="card-text" style="font-family: Arial">
              Videos currently in server:
            </p>
            <ul>
              {% for item in videos %}
              <li class="mt-1">
                <a href="download/static/videos/{{item}}">{{item}}</a>
                <br />
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
